.skill{
    height: 100vh;
    margin: 0 50px;
}

.sContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    margin: 20px 0;
}

.sTitle{
    font-weight: 400;
}

.sDesc{
    font-weight: 500;
    color:  #59b256;
}

.sWrapper{
    display: flex;
    margin: 20px 0;
    align-items: center;
    justify-content: center;
    margin-left: 50px;

}

.swLeft, .swCenter, .swRight{
    flex: 1;
    height: 50px;
}

.swUp{
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85%;
}

.upLeft{
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.ulIcon{
    color: #56b267;
}

.upCenter{
    margin-left: 20px;
}

.cTitle{
    font-weight: 500;
    font-size: 25px;
}

.upRight{
    cursor: pointer;
}

.swDown{
    margin: 50px 0;
    width: 85%;
}

.skillData{
    margin-bottom: 20px;
}

.skillTitle{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.skillName{
    font-weight: 400;
    font-size: 18px;
}

.skillNumber{
    font-size: 16px;
    font-weight: 400;
}

.skillBar{
    margin: 10px 0;
    height: 7px;
    background-color: #caebc9;
    border-radius: 10px;
}

.skillPerceBar{
    height: 7px;
    border-radius: 10px;
    background-color: #59b256;
    display: block;
}

.skills_html{
    width: 90%;
}
.skills_css{
    width: 80%;
}
.skills_js{
    width: 70%;
}
.skills_react{
    width: 60%;
}

.skills_sql{
    width: 90%;
}

.skills_java{
    width: 60%;
}

.skills_node{
    width: 25%;
}

.skills_php{
    width: 20%;
}

.skills_ex{
    width: 30%;
}

.skills_fg{
    width: 80%;
}

.skills_ps{
    width: 40%;
}

.skills_is{
    width: 40%;
}